html,
body {
  height: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 100vw;
  height: 300px;
  margin: 0 auto;
  background: linear-gradient(140deg, #f9a16366, #e4615e57);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* piano */
.piano {
  position: relative;
  background: #361f15;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  transform: rotateX(60deg);
}

.piano-key {
  position: absolute;
  background: #fdfcf7;
  width: 25px;
  height: 100px;
  top: 22%;
  border: 1px solid #866e66;
  box-shadow: inset 0px 3px 0px 6px #f4f4ec;
  color: #361f15;
  transition: all .07s ease;
  display: flex;
}

kbd{
  font-size: 1.5rem;
  text-align: right;
  align-self: flex-end;
  margin-left: 30%;
}
.piano-key-1 {
  right: 5%;
}

.piano-key-2 {
  right: 13%;
}

.piano-key-3 {
  right: 21%;
}

.piano-key-4 {
  right: 29%;
}

.piano-key-5 {
  right: 37%;
}

.piano-key-6 {
  right: 45%;
}

.piano-key-7 {
  right: 53%;
}

.piano-key-8 {
  right: 61%;
}

.piano-key-9 {
  right: 69%;
}

.piano-key-10 {
  right: 77%;
}

.piano-key-11 {
  right: 85%;
}

.piano-key::after {
  content: '';
  width: 25px;
  height: 29px;
  background: #e3e4e2;
  box-shadow: inset 1px 3px 0px 0px #acacac;
  display: block;
  position: absolute;
  top: 100%;
  border: 1px solid #866e66;
  margin-left: -1px;
}

.piano-key::before {
  content: '';
  width: 7px;
  height: 66px;
  background: #1b130e;
  box-shadow: inset 1px 5px 8px 1px #787166;
  display: block;
  position: absolute;
  top: 0%;
  right: 76%;
  z-index: 9;
  border: 1px solid #09040c;
  margin-left: -1px;
}

.piano-key:nth-child(11)::before,
.piano-key:nth-child(7)::before,
.piano-key:nth-child(4)::before {
  display: none;
}

.piano-key:hover {
  cursor: pointer;
  height: 112px;
  box-shadow: inset 1px -3px 1px 0px #4c4d48;
}

.piano-key:hover::after {
  height: 16px;
}

.play{
  height: 112px;
  box-shadow: inset 1px -3px 1px 0px #4c4d48;
}
.play::after{
  height: 16px;
}

/* drum set */
.drum-set {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.drum1 {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #ce2329;
  border: 2px solid #252525;
  bottom: 0;
  left: 40%;
}

.drum1::before {
  content: '╽';
  display: block;
  position: absolute;
  font-size: 33px;
  top: -36px;
  left: 25px;
  color: #5c6767;
}

.drum1::after {
  content: '';
  display: block;
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  top: 13%;
  left: 0px;
  background: #5c6767;
  border: 1px solid #252525;
}

.drum2 {
  position: absolute;
  width: 50px;
  height: 40px;
  background: #ce2329;
  bottom: 12%;
  left: 25%;
  border-radius: 0 0 11px 11px;
}

.drum2::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 50%;
  bottom: 77%;
  left: 0px;
  background: #5c6767;
}

.drum2::after {
  content: '↧';
  display: block;
  position: absolute;
  font-size: 70px;
  top: 68%;
  left: 8px;
  color: #5c6767;
}

.drum3 {
  position: absolute;
  width: 50px;
  height: 20px;
  background: #ce2329;
  bottom: 10%;
  right: 20%;
  border-radius: 0 0 11px 11px;
}

.drum3::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 15px;
  border-radius: 50%;
  bottom: 59%;
  left: 0px;
  background: #5c6767;
}

.drum3::after {
  content: '↧';
  display: block;
  position: absolute;
  font-size: 70px;
  top: 34%;
  left: 8px;
  color: #5c6767;
}

.drum4 {
  position: absolute;
  width: 55px;
  height: 60px;
  background: #ce2329;
  bottom: 34%;
  left: 29%;
  border-top: 1px solid #252525;
  border-radius: 11px 11px 0 0;
  transform: rotate(17deg);
}

.drum4::before {
  content: '';
  display: block;
  position: absolute;
  width: 55px;
  height: 18px;
  border-radius: 50%;
  top: 83%;
  left: 0px;
  background: #5c6767;
}

.drum4::after {
  content: '╼';
  display: block;
  position: absolute;
  top: -1%;
  left: 99%;
  color: #5c6767;
  font-size: 35px;
}


.drum5 {
  position: absolute;
  width: 50px;
  height: 40px;
  background: #ce2329;
  bottom: 40%;
  right: 29%;
  border-top: 1px solid #252525;
  border-radius: 11px 11px 0 0;
  transform: rotate(-17deg);
}

.drum5::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 15px;
  border-radius: 50%;
  top: 83%;
  left: 0px;
  background: #5c6767;
}

.drum5::after {
  content: '╾';
  display: block;
  position: absolute;
  top: -5%;
  right: 99%;
  color: #5c6767;
  font-size: 35px;
}

.drum-set-right {
  position: absolute;
  width: 50px;
  height: 12px;
  background: #ddcd5f;
  bottom: 27%;
  right: 11%;
  border-radius: 50%
}

.drum-set-right::before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 6px;
  top: -21%;
  left: 22px;
  background: #5c6767;
}

.drum-set-right::after {
  content: '↓';
  display: block;
  position: absolute;
  font-size: 116px;
  top: -153%;
  left: -4px;
  color: #5c6767;
}

.drum-set-left {
  position: absolute;
  width: 85px;
  height: 12px;
  background: #ddcd5f;
  bottom: 63%;
  left: 19%;
  border-radius: 50%;
  transform: rotate(22deg)
}

.drum-set-left::before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 105px;
  top: 47%;
  left: 29px;
  background: #5c6767;
  transform: rotate(11deg)
}

.drum-set-left::after {
  content: '↓';
  display: block;
  position: absolute;
  font-size: 159px;
  bottom: -220px;
  left: 1px;
  transform: rotate(-22deg);
  color: #5c6767;
}

.drum-set:hover{
  cursor: pointer;
}